.mySwiper {
  padding: 20px 0;
}

.rent-movie {
  display: flex;
  justify-content: center;
}

.movie-card {
  width: 100%;
  max-width: 300px;  /* Controls the maximum width of the movie cards */
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;  /* Ensures image fits well within the card */
}

.movie-info {
  text-align: center;
  padding: 10px 0;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.movie-details {
  color: #666;
  font-size: 0.9rem;
}
