.book{
    margin-left: 117px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(148, 144, 144);
}
span{
    cursor: pointer;
    color: rgba(255, 102, 0, 0.8);
}
.choose-cinema{
    margin-left: 117px;
    margin-top: 20px;
    color: rgb(148, 144, 144);
}
.choose-cinema:hover{
    color: rgba(255, 102, 0, 0.8);
    cursor: pointer;
}